<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Listing</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    /* Custom styles */
    body {
      background:#fff;
    }

    .container {
      margin-top: 40px;
    }

    .card {
      background: linear-gradient(to right, #f8a5c2, #84c0f7);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card-title {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }

    .card-text {
      color: #fff;
      font-size: 14px;
      margin-bottom: 20px;
    }

    /* Colors */
    .card:nth-child(odd) {
      background-color: #f8a5c2;
    }

    .card:nth-child(even) {
      background-color: #84c0f7;
    }

    h1 {
      color: #333;
      text-align: center;
      margin-bottom: 40px;
    }

    .floating-btn {
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 999;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Article Listing</h1>
    Our blog has one <%= Article.public_count %> articles and counting!
    <div class="row">
      <% @articles.each do |article| %>
      <% unless article.archived? %>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">
              <li><%= link_to article.title, article %></li>
            </h5>
            <p class="card-text"><%= article.body %></p>

          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <a href="/articles/new" class="btn btn-primary floating-btn">Add New Article</a>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
